@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #EAEBEF;
    font-family: 'Poppins', sans-serif;
}

.nav{
    width: 300px;
    max-block-size: 5%;
}

.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: #F6F8FA;
}

.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    padding: 0px 0;

    display: flex;
   
}

.main{
    margin-block: 50px;
}

    
body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

h2 {
    color: #007bff;
}

#registration-form {
    margin-top: 50px;
    
}

form {
    display: inline-block;
    text-align: left;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
}

input[type="text"],
select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #4113c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#turn-display {
    margin-top: 50px;
}

#current-turn {
    font-size: 48px;
    color: #4821f8;
}

#controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #483ec9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
