body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

h2 {
    color: #007bff;
}

#registration-form {
    margin-top: 50px;
}

form {
    display: inline-block;
    text-align: left;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
}

input[type="text"],
select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #4113c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#turn-display {
    margin-top: 50px;
}

#current-turn {
    font-size: 48px;
    color: #4821f8;
}

#controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #483ec9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}


header {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

nav ul li.current a {
    font-weight: bold;
    color: rgb(98, 172, 241); /* Color para destacar el turno actual */
}

.logo a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}