body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

header {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

nav ul li.current a {
    font-weight: bold;
    color: rgb(98, 172, 241);
}

.logo a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}
