{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnero</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">      
<body>
    <header>
        <h1>{% block heading %}Turnero{% endblock %}</h1>
            {% if user.is_authenticated %}
            <p>{{ user.username }}</p>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>

            {% else %}
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            {% endif %}
    </header>
    <div class="contenedor">
        <div class="menu">
            <nav class="nav">
                <ul class="list">
                    <li class="list__item">
                        <div class="list__button">
                            <img src="{% static 'myapp/dashboard.svg' %}" class="list__img">
                            <a href="{% url 'index' %}" class="nav__link">Inicio</a>
                        </div>
                    </li>

                    <li class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <img src="{% static 'myapp/docs.svg' %}" class="list__img">
                            <a href="{% url 'inicio' %}" class="nav__link">Registro</a>
                        </div>
                    </li>

                    <li class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <img src="{% static 'myapp/bell.svg' %}" class="list__img">
                            <a href="{% url 'turnos' %}" class="nav__link">Turnos</a>
                        </div>
                    </li>

                    <li class="list__item">
                        <div class="list__button">
                            <img src="{% static 'myapp/stats.svg' %}" class="list__img">
                            <a href="{% url 'h_turnos' %}" class="nav__link">Historial de turnos</a>
                        </div>
                    </li>

                    <li class="list__item">
                        <div class="list__button">
                            <img src="{% static 'myapp/message.svg' %}" class="list__img">
                            <a href="#" class="nav__link">Contacto</a>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>

        <div class="main">
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    {% block scripts %}
    <script src="{% static 'myapp/script-base.js' %}"></script>
    {% endblock %}

   
</body>
</html>