{% extends 'base.html' %}
    <main>
        <!-- Contenido del historial de turnos -->
        <h1>Historial de Turnos</h1>
        <!-- Aquí se mostrarán los registros de turnos procesados -->
    </main>
</body>
</html>
