{% extends 'base.html' %}
    {% load static %}
        {% block content %}
            <h1>Consultorio</h1>

            <div id="registration-form">
                <h2>Registro de Cliente</h2>
                <form id="form" method="post" action="{% url 'inicio' %}">{% csrf_token %}
                    <div>
                        <label for="ci">Número de Identificación:</label>
                        <input type="text" id="ci" name="ci" required oninput="autocompletarCampos()">

                    </div>
                    <div>
                        <label for="name">Nombre:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div>
                        <label for="client-type">Tipo de Cliente:</label>
                        <select id="client-type" name="clientType" required>
                            <option value="">Seleccione</option>
                            <option value="bajo">Personal</option>
                            <option value="medio">Corporativo</option>
                            <option value="alto">Prioritario</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit">Registrar</button>
                    </div>
                </form>
            </div>
        {% endblock %}
        {% block scripts %}
        <script src="{% static 'myapp/script.js' %}"></script>
        {% endblock %}

