{% extends 'base.html' %}

{% block content %}
  <h2>Iniciar sesión</h2>
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Usuario" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Iniciar sesión</button>
  </form>
{% endblock %}
