{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>Turnos</h1>
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Prioridad</th>
                    <th>Hora de llegada</th>
                </tr>
            </thead>
            <tbody>
                {% for turno in turnos %}
                <tr>
                    <td>{{ turno.name }} - CI: {{ turno.ci }}</td>
                    <td>{{ turno.cliente }}</td>
                    <td>{{ turno.prioridad }}</td>
                    <td>{{ turno.hora_llegada }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No hay turnos asignados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
